name: Module CI/CD

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    # Zip the files
    - run: zip -r ./module.zip module.json dragupload.js README.md

    # Get the version (Fixed to remove the deprecated set-output warning)
    - name: Get Version
      id: get-version
      run: |
        VERSION=$(node ./.github/workflows/get-version.js)
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    # Create a release for this specific version (e.g., 3.0.1)
    - name: Create Version Release
      id: create_version_release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        name: Release ${{ steps.get-version.outputs.version }}
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: './module.json,./module.zip'
        tag: ${{ steps.get-version.outputs.version }}

    # Update the 'latest' release
    - name: Create Latest Release
      id: create_latest_release
      uses: ncipollo/release-action@v1
      if: endsWith(github.ref, 'main') || endsWith(github.ref, 'master')
      with:
        allowUpdates: true
        name: Latest
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: './module.json,./module.zip'
        tag: latest
